*{
    margin: 0;
    padding: 0;
}

.wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wraper h2{
    text-align: center;
}

.wraper img{
    width: 800px;   
}
.wraper p{
    text-align: center;
    margin: 20px 20px 0 20px;
    
}

.nav{
    display: flex;
    justify-content: flex-end;
    padding-inline: 20px 50px; 
    gap: 20px;
    
}
.nav a{
    text-decoration: none;  
}

.header{
    display: grid;
    grid-template-columns:1fr  1fr 1fr;
    gap: 20px;

}

.card h2{
    text-align: center;
}

.card img{
    width: 100%;
    height: 400px;
}

.card p{
    text-align: center;
    margin: 20px 20px 0 20px;
}

.contactsus{
    background-image: url('contact.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: blueviolet; */
    height: calc(100vh - 18.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.head{
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.head img{
    text-align: center;
    width: 200px;
    padding: 100px 100px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 50px;
    
}

.input_style{
    border-radius: 20px;
    padding: 10px;
    background-color: #e6e6e6;
    border: none;
}


.text{
    border: none;
     border-radius: 20px;
     height:80px;
     padding: 10px;
     background-color: #e6e6e6;
}

.submit{
    border-radius: 20px;
    background-color: plum;
    border: solid none;
    padding: 10px;
    border: none;
    transition: background-color 0.5s;
    cursor: pointer;
}
.submit:hover{
    background-color: black;
    color: blueviolet;
    
}



@media screen and (max-width: 768px){
    .header{
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (max-width: 480px){
    .header{
        grid-template-columns: 1fr;

    }
}




























