*{
    margin: 0;
    padding: 0;
}

.wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wraper h2{
    text-align: center;
}

.wraper img{
    width: 800px;   
}
.wraper p{
    text-align: center;
    margin: 20px 20px 0 20px;
    
}

.nav{
    display: flex;
    justify-content: flex-end;
    padding-inline: 20px 50px; 
    gap: 20px;
    
}
.nav a{
    text-decoration: none;  
}

.header{
    display: grid;
    grid-template-columns:1fr  1fr 1fr;
    gap: 20px;

}

.card h2{
    text-align: center;
}

.card img{
    width: 100%;
    height: 400px;
}

.card p{
    text-align: center;
    margin: 20px 20px 0 20px;
}


@media screen and (max-width: 768px){
    .header{
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (max-width: 480px){
    .header{
        grid-template-columns: 1fr;

    }
}




























